<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="container">
    <div th:replace="~{fragments/fragments::navbar}"></div>
    <div class="row"><h2>Bid List</h2></div>
    <div class="row">
        <a href="/bidList/add" class="btn btn-primary btn-sm" id="add-new-bid">Add New</a>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Id</th>
                <th>Account</th>
                <th>Type</th>
                <th>Bid Quantity</th>
                <th>Ask Quantity</th>
                <th>Bid</th>
                <th>Ask</th>
                <th>Benchmark</th>
                <th>Bid List Date</th>
                <th>Commentary</th>
                <th>Security</th>
                <th>Status</th>
                <th>Trader</th>
                <th>Book</th>
                <th>Creation Name</th>
                <th>Creation Date</th>
                <th>Revision Name</th>
                <th>Revision Date</th>
                <th>Deal Name</th>
                <th>Deal Type</th>
                <th>Source List Id</th>
                <th>Side</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="bidList : ${bidLists}">
                <td style="width: 10%" th:text="${bidList.getBidListId()}"></td>
                <td th:text="${bidList.account}"></td>
                <td th:text="${bidList.type}"></td>
                <td th:text="${bidList.bidQuantity}"></td>
                <td th:text="${bidList.askQuantity}"></td>
                <td th:text="${bidList.bid}"></td>
                <td th:text="${bidList.ask}"></td>
                <td th:text="${bidList.benchmark}"></td>
                <td th:text="${bidList.bidListDate}"></td>
                <td th:text="${bidList.commentary}"></td>
                <td th:text="${bidList.security}"></td>
                <td th:text="${bidList.status}"></td>
                <td th:text="${bidList.trader}"></td>
                <td th:text="${bidList.book}"></td>
                <td th:text="${bidList.creationName}"></td>
                <td th:text="${bidList.creationDate}"></td>
                <td th:text="${bidList.revisionName}"></td>
                <td th:text="${bidList.revisionDate}"></td>
                <td th:text="${bidList.dealName}"></td>
                <td th:text="${bidList.dealType}"></td>
                <td th:text="${bidList.sourceListId}"></td>
                <td th:text="${bidList.side}"></td>
                <td style="width: 15%" class="text-center">
                    <a th:href="@{/bidList/update/{id}(id=${bidList.getBidListId()})}">Edit</a>&nbsp;|&nbsp;
                    <a th:href="@{/bidList/delete/{id}(id=${bidList.getBidListId()})}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>