<div class="container" th:fragment="navbar">
    <div class="row">
        <div class="col-6">
            <a href="/bidList/list" id="bid-list-link">Bid List</a>&nbsp;|&nbsp;
            <a href="/curvePoint/list" id="curve-point-link">Curve Points</a>&nbsp;|&nbsp;
            <a href="/rating/list" id="rating-link">Ratings</a>&nbsp;|&nbsp;
            <a href="/trade/list" id="trade-link">Trade</a>&nbsp;|&nbsp;
            <a href="/ruleName/list" id="rule-name-link">Rule</a>&nbsp;|&nbsp;
            <a href="/">Home</a>
        </div>
        <div class="col-6 text-right">
            Logged in user: <b th:inline="text" class="user" th:text="${connectedUser}">Connected User</b>
            <form th:action="@{/logout}" method="POST">
                <input type="submit" value="Logout"/>
            </form>
        </div>
    </div>
</div>