<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="container">

    <div th:replace="~{fragments/fragments::navbar}"></div>

    <div class="row"><h2>Trade List</h2></div>
    <div class="row">
        <a th:href="@{/trade/add}" class="btn btn-primary btn-sm" id="add-new-trade">Add New</a>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Id</th>
                <th>Account</th>
                <th>Type</th>
                <th>Buy Quantity</th>
                <th>Sell Quantity</th>
                <th>Buy Price</th>
                <th>Sell Price</th>
                <th>Benchmark</th>
                <th>Trade Date</th>
                <th>Commentary</th>
                <th>Security</th>
                <th>Status</th>
                <th>Trader</th>
                <th>Book</th>
                <th>Creation Name</th>
                <th>Creation Date</th>
                <th>Revision Name</th>
                <th>Revision Date</th>
                <th>Deal Name</th>
                <th>Deal Type</th>
                <th>Source List Id</th>
                <th>Side</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="trade : ${trades}">
                <td style="width: 10%" th:text="${trade.tradeId}"></td>
                <td th:text="${trade.account}"></td>
                <td th:text="${trade.type}"></td>
                <td th:text="${trade.buyQuantity}"></td>
                <td th:text="${trade.sellQuantity}"></td>
                <td th:text="${trade.buyPrice}"></td>
                <td th:text="${trade.sellPrice}"></td>
                <td th:text="${trade.benchmark}"></td>
                <td th:text="${trade.tradeDate}"></td>
                <td th:text="${trade.commentary}"></td>
                <td th:text="${trade.security}"></td>
                <td th:text="${trade.status}"></td>
                <td th:text="${trade.trader}"></td>
                <td th:text="${trade.book}"></td>
                <td th:text="${trade.creationName}"></td>
                <td th:text="${trade.creationDate}"></td>
                <td th:text="${trade.revisionName}"></td>
                <td th:text="${trade.revisionDate}"></td>
                <td th:text="${trade.dealName}"></td>
                <td th:text="${trade.dealType}"></td>
                <td th:text="${trade.sourceListId}"></td>
                <td th:text="${trade.side}"></td>
                <td style="width: 15%" class="text-center">
                    <a th:href="@{/trade/update/{id}(id=${trade.tradeId})}">Edit</a>&nbsp;|&nbsp;
                    <a th:href="@{/trade/delete/{id}(id=${trade.tradeId})}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>